@using EQuanLyNhanSu.ViewModel.Catalog.System
@model LoginRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script language="javascript">
        function LoginValidate() {
            if ($("#password").val().length == 0) {
                Swal.fire(
                    'yêu cầu nhập mật khẩu.'
                )
            }
            var tx1 = $("<p></p>").text("Đăng nhập thành công");
            var tx2 = $("<p></p>").text("Tài khoản hoặc mật khẩu sai");
            var username = $("#username").val();
            var password = $("#password").val();
            var loginRequest = {
                userName: username,
                password: password,
            }
            $.ajax({
                headers: {
                    'Access-Control-Allow-Origin': 'https://localhost:5002/User/Login',
                    'Access-Control-Allow-Methods': 'GET,POST,OPTIONS,DELETE,PUT',
                },
                url: "https://localhost:5001/api/User/Authenticate",
                data: JSON.stringify(loginRequest),
                type: "POST",
                async: 'true',
                contentType: 'application/json',
                success: function (reponse) {
                    if (reponse) {
                        alert('Đăng nhập thành công');
                        //Swal.fire('Đăng nhập thành công'));
                    }

                    $("#username").attr({ 'value': '' });
                    $("#password").attr({ 'value': '' });
                },
                error: function (reponse) {
                    alert('Error400: Tài khoản hoặc mật khẩu sai')
                    //Swal.fire(
                    //    'Error400: Tài khoản hoặc mật khẩu sai'
                    //)
                }
            });
        }
    </script>

</body>
</html>